{% extends 'layaout.html' %}
{% block body %}
    <div class="col-md-4 offset-md-4">


        <div class="card card-body">
          <h4 class="text-dark text-center"> CONSULTAS PUBLICACIONES</h4>
          <hr>

          <form action="" >
            <div class="form-group">
            <a href="/consulta1" class="btn btn-primary btn-block">Consulta 1</a>
            </div>

            <div class="form-group">
              <a href="/consulta2" class="btn btn-dark btn-block">Consulta 2</a>
            </div>

            <div class="form-group">
              <a href="/consulta3" class="btn btn-light btn-block">Consulta 3</a>

            </div>

            <div class="form-group">
                <a href="/consulta4" class="btn btn-success btn-block">Consulta 4</a>

            </div>
         </form>

      </div>

    </div>

{% endblock %}
